.advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.container{
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
}

.advantagesSection{
    height: 421px;
    background-color:white;
    position: absolute;
    z-index: 2;
    top: -65px;
    display: flex;
    margin: 0 10vw 0 10vw;
    flex-direction: column;
    width: 80%;
}

.title, .subtitle{
    font-family: Lato;
    letter-spacing: normal;
    text-align: center;
}

.title{
    font-size: 42px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
    color: #008bcf;
}

.titleSubtitle{
    margin-top: 35px;
}

.subtitle{
    font-size: 18px;
    line-height: 1.44;
    max-width: 500px;
    color: #4a4a4a;
    margin: auto;
}
