.offers{
    height: 340px;
    background-image: url("../../public/blueSectionBackground.png");
    margin: 29px 0 0;
    background-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.title, .subtitle{
    font-family: Lato;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.title{
    font-size: 42px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: normal;
    max-width: 500px;
}