.arrowImage{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.searchSection{
    position: relative;
    background-image: url("../../public/imageBackgroundSearch.png");
    height: 640px;
    display: flex;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
}

.searcher{

}

.title{
    font-family: Lato;
    font-size: 70px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.subtitle{
    font-family: Lato;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    max-width: 500px;
    color: white;
}