.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantageTitle{
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #008bcf;
}