.header{
    position: fixed;
    background-color: #eef5f6;
    padding: 20px 0 15px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-family: Lato;
}

.phoneImg{
    margin: 0 122px 0 154px;
}

.phoneSection{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #545454;
}

.whatsappImg{}

.mailImg{
    margin: 0 0 0 56px;
    object-fit: contain;
}

.logoContainer{}

.choicesContainer{}

.contactContainer{
    display: flex;
    align-items: center;
}

.contactFormsContainer{}

.toolbar{
    display: flex;
    justify-content: space-between;
}