.blueSection, .blueSectionCondiciones{
    height: 340px;
    background-image: url("../public/blueSectionBackground.png");
    margin: 29px 0 0;
    background-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blueSectionTitle, .blueSectionSubtitle{
    color: white;
}

.blueSectionTitle{
    font-family: Lato;
    font-size: 42px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
}
.blueSectionSubtitle{
    font-family: Lato;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    max-width: 500px;
}

.blueSectionCondiciones{
    padding-top: 100px;
}
.blueSection{
    padding-top: 80px;
}

.companiesImages{
    margin-top: 60px;
}

.emptySection{
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
}

.stepsImage{
    height: 534px;
    position: relative;
    background-image: url("../public/menWithComputerImage.png");
    position: absolute;
    z-index: 2;
    top: -146px;
}